version: "3.8"

services:
  app:
    image: django-app
    build:
      context: .
    ports:
      - "8000:8000"
    environment:
      - CREATE_SUPERUSER=true
    depends_on:
      app-postgres:
        condition: service_healthy
    volumes:
      - '/opt/myapp_static:/static'
    restart: always

  app-postgres:
    image: postgres:15-alpine
    volumes:
      - "/opt/myapp_data:/var/lib/postgresql/data"
    environment:
      POSTGRES_DB: django_app
      POSTGRES_USER: django_app
      POSTGRES_PASSWORD: django_app
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U django_app"]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: always